@import '../../../sass/settings';
.button {
    display: inline-block;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    color: #000;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 14px;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    transition: all 500ms;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    &:hover,
    &:focus,
    &:visited,
    &:active {
        color: #777;
        text-decoration: none;
    }
    &-primary {
        background-color: $color_main;
        color: #fff;
        &:hover {
            opacity: .8;
        }
        &:hover,
        &:focus,
        &:visited,
        &:active {
            color: #fff;
            text-decoration: none;
        }
    }
    
}
