@import '../../sass/settings';
.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hero {
	padding: 0;
}
.grey-background {
	background-color: $color-grey;
}
